.footer{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #2f363e;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, .25),
    inset 5px 5px 10px rgba(0, 0, 0, .5),
    inset 5px 5px 20px rgba(255, 255, 255, .2),
    inset -5px -5px 15px rgba(0, 0, 0, .75);
    margin-top: auto;
}

.footer__button{
    width: fit-content;
    text-align: center;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: #176e1c;
    border: solid .5px rgb(9, 61, 14);
}

.footer__button:hover{
    background: #0d4210;
}

.footer__lista{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    gap: 10px;
}

.footer__links{
    color: #fff;
}

@media (min-width: 480px){
    .footer__lista{
        flex-direction: row;
    }
}