<!DOCTYPE html>
<html lang="es">

    <%- include ('./partials/head') %>

<body class="body">

    <%- include ('./partials/header') %>

    <main class="main">
        <section class="cont-cards">
            <arcticle class="card">
                <header class="card__cont-img">
                    <img class="card__img" src="/images/ACValhalla-250px.jpg" alt="">
                </header>
                <footer class="card__footer">
                    <h4>Nombre</h4>
                    <span>Precio</span>
                    <span class="card__button card__button--cart">Añadir al carrito</span>
                    <span class="card__button card__button--fav">Añadir a favoritos</span>
                </footer>
            </arcticle>
            <arcticle class="card">
                <header class="card__cont-img">
                    <img class="card__img" src="/images/ACValhalla-250px.jpg" alt="">
                </header>
                <footer class="card__footer">
                    <h4>Nombre</h4>
                    <span>Precio</span>
                    <span class="card__button card__button--cart">Añadir al carrito</span>
                    <span class="card__button card__button--fav">Añadir a favoritos</span>
                </footer>
            </arcticle>
            <arcticle class="card">
                <header class="card__cont-img">
                    <img class="card__img" src="/images/ACValhalla-250px.jpg" alt="">
                </header>
                <footer class="card__footer">
                    <h4>Nombre</h4>
                    <span>Precio</span>
                    <span class="card__button card__button--cart">Añadir al carrito</span>
                    <span class="card__button card__button--fav">Añadir a favoritos</span>
                </footer>
            </arcticle>
            <arcticle class="card">
                <header class="card__cont-img">
                    <img class="card__img" src="/images/ACValhalla-250px.jpg" alt="">
                </header>
                <footer class="card__footer">
                    <h4>Nombre</h4>
                    <span>Precio</span>
                    <span class="card__button card__button--cart">Añadir al carrito</span>
                    <span class="card__button card__button--fav">Añadir a favoritos</span>
                </footer>
            </arcticle>
            <arcticle class="card">
                <header class="card__cont-img">
                    <img class="card__img" src="/images/ACValhalla-250px.jpg" alt="">
                </header>
                <footer class="card__footer">
                    <h4>Nombre</h4>
                    <span>Precio</span>
                    <span class="card__button card__button--cart">Añadir al carrito</span>
                    <span class="card__button card__button--fav">Añadir a favoritos</span>
                </footer>
            </arcticle>
        </section>
    </main>

    <%- include ('./partials/footer') %>

</body>
</html>