<footer class="footer">
    <span class="footer__button">Iniciar sesión</span>
    <ul class="footer__lista">
        <li class="footer__items"><a class="footer__links" href="">Sobre nosotros</a></li>
        <li class="footer__items"><a class="footer__links" href="">Términos y condiciones<a></li>
        <li class="footer__items"><a class="footer__links" href="">Ayuda</a></li>
        <li class="footer__items"><a class="footer__links" href="">Politicas de privacidad<a></li>
    </ul>
    <span class="footer__copy">Copyright ©2022 Proyecto S.R.L.</span>
</footer>