<header class="header">
    <section class="header__ppal">
        <h1 class="header__title">Proyecto</h1>
        <div class="header__cont-search">
            <input class="header__search" type="search" id="search" placeholder="Buscar...">
        </div>
        <div class="header__cont-iconos">
            <img class="header__iconos" src="/images/iconos/user.svg">
            <img class="header__iconos header__iconos--bgmemu" src="/images/iconos/burger-menu.svg">
        </div>
    </section>
    <ul class="header__lista">
        <li class="header__items"><a class="header__links" href="">Productos</a></li>
        <li class="header__items"><a class="header__links" href="">Favoritos</a></li>
        <li class="header__items"><a class="header__links" href="">Uno</a></li>
        <li class="header__items"><a class="header__links" href="">Dos</a></li>
        <li class="header__items"><a class="header__links" href="">Tres</a></li>
    </ul>
</header>